<ion-header>
  <ion-toolbar>
    <ion-title>counter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-input type="number" [(ngModel)]="count"></ion-input>
</ion-item>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click) = "counter()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button  (click) = "discounter()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
